@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", "Arial";
    color: white;
}

html, body {
    height: 100%;
}

main {
    height: 100%;
}

#colorized-image {
    filter: invert(100%) grayscale(100%);
}