<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload New File</title>
</head>
<body>
  <h1>Upload new File</h1>
  <p>ID: {{ data['vector_store_id'] }} </p>
  <form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
  </form>

    {% for file in data['files'] %}
      <li>{{ file }}</li>
    {% endfor %}

  <a href="/">
    <button style="margin-top: 5%;">Back to homepage</button>
  </a>
</body>
</html>
